rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /portfolios/{portfolioId} {
      allow read, write: if request.auth != null;
    }

    match /historicalPrices/{ticker}/daily/{date} {
      allow read, write: if request.auth != null;
    }
  }
}
